@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto&display=swap');

:root {
    --main-bg-color: #FFFFFF;
    --side-bg-color: #3E3E3E;
    --text-white-color: #FAFAFA;
    --text-black-color: #101010;
}

* {
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
}

main {
    width: 920px;
    margin: 32px auto;
    border-radius: 16px;
    display: flex;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.9);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.5);
}

.content {
    min-height: 100vh;
    width: 700px;
    padding: 32px;
    border-radius: 0 16px 16px 0;
    background-color: var(--main-bg-color);
}

.content .section .section-header {
    display: flex;
}

.content .line-title.line-header {
    margin-left: 0;
}

.content .line-title {
    width: 100%;
    margin-left: 16px;
    display: inline-flex;
    align-items: center;
}

.content .line-title .line {
    width: 100%;
    height: 1px;
    background-color: var(--text-black-color);
}

.content .line-title.line-header .line-detail {
    width: 600px;
    height: 9px;
    border-radius: 4px;
    background-color: var(--side-bg-color);
}

.content .line-title .line-detail {
    width: 150px;
    height: 9px;
    border-radius: 4px;
    background-color: var(--side-bg-color);
}

.content .icon-circle-box {
    width: 40px;
    height: 40px;
    border: 1px solid var(--side-bg-color);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.content .icon-circle-box i {
    font-size: 24px;
    padding: 24px;
}

.content .header-box {
    padding: 30px 0;
}

.content .header-box h1 {
    font-size: 48px;
    font-weight: 600;
    color: var(--text-black-color);
}

.content .header-box h3 {
    font-size: 24px;
    font-weight: 400;
    color: var(--side-bg-color);
}

.content .section {
    margin-bottom: 32px;
}

.content .section h3 {
    font-size: 24px;
    font-weight: 500;
    margin-left: 6px;
    color: var(--text-black-color);
    display: inline;
}

.content .section h4 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px;
    color: var(--text-black-color);
}

.content .section .education-date {
    font-size: 16px;
    font-weight: 500;
}

.content .section p {
    color: var(--side-bg-color);
}

.content .section .paragraph {
    font-family: 'Roboto';
    font-size: 14px;
    margin-top: 8px;
}

.side {
    min-height: 100vh;
    width: 220px;
    padding: 32px;
    border-radius: 16px 0 0 16px;
    background-color: var(--side-bg-color);
}

.side .section-side {
    display: flex;
}

.side .box-keys {
    width: 45%;
}

.side .box-values {
    width: 55%;
}

.side .box-values a {
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: var(--text-white-color);
    margin-top: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.side .profile-image {
    width: 175px;
    height: 175px;
    background-image: url("../img/eu.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    border-radius: 50%;
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.3);
}

.side h3 {
    color: var(--text-white-color);
    margin-top: 24px;
    padding-bottom: 8px;
    border-bottom: 2px solid #393939;
}

.side ul {
    list-style: none;
}

.side ul li {
    padding: 4px 0;
    border-bottom: 2px solid #393939;
}

.side .li-keys {
    font-weight: 600;
    color: var(--text-white-color);
}

.side .li-values {
    font-weight: 300;
    color: var(--text-white-color);
}

.side .box-icons ul li {
    border: none;
}

.side .box-icons .li-keys {
    margin-top: 4px;
    display: flex;
}

.side .box-icons {
    width: 100%;
}

.side .box-icons .li-keys a {
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: var(--text-white-color);
    margin-top: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.side .box-icons .li-keys a i {
    justify-content: flex-end;
}

.side .box-icons svg {
    fill: #FFFFFF;
    margin-right: 16px;
}
